mktraclet.c
mktraclet.cpython-38-darwin.so
build

# 2022/2/25 usuki追加
findOrb/*
mktraclet.pyx
setup12.py

# findOrb/*.o
# findOrb/dos_find
# findOrb/get_test
# findOrb/astephem
# findOrb/riseset3
# findOrb/jd
# findOrb/*.a

data/*
!data/.gitkeep
SubaruHSC/*
!SubaruHSC/.gitkeep

API/__pycache__/